<div class="container">
<br>
<h2><%= @restaurant.name %></h2>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number%></li>
  <li><%= @restaurant.category%></li>

  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-secundary" %>
  <%= link_to "Remove restaurant", restaurant_path(@restaurant), class: "btn btn-secundary", method: :delete%>

</div>
